#zoneMain {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  color: white;
  text-align: center;
  padding: 25px;
  border-radius: 3px;
}

#zoneImgLeft,
#zoneImgRight {
  margin-top: 25px;
  margin-bottom: 25px;
}

#mainZoneDiv {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 25%;
}

#zoneElements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px;
}

i {
  font-family: "Roboto", sans-serif;
}

.zoneNavButtonDiv {
  padding: 15px;
}

.zoneCellMidOuter {
  height: 310px;
  width: 300px;
}
