@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto|Fredoka+One|Patua+One|Merienda&display=swap");
body {
  background-color: #050617;
  color: white;
  font-family: "Raleway", sans-serif;
}

input {
  background-color: white;
}

.button {
  background-color: #1a237e;
  border: none;
  color: white;
  padding: 10px 20px;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.1em;
  box-shadow: -2px -2px 2px 0px rgba(162, 143, 230, 0.336),
    2px 2px 2px 0 rgba(9, 2, 48, 0.336);
}

.button:hover {
  background-color: #252d81;
  cursor: pointer;
}

.button:focus {
  background-color: #1a237e;
}

.button:active {
  padding: 7px 20px;
  border: 3px solid #0c146b;
  border-radius: 3px;
  background-color: #1a237e;
}
