#abilityPanel {
  color: white;
  width: 70vw;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 2%;
  height: 70%;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: scroll;
  z-index: 49;

  border: 3px solid white;
  background-color: #0b0a46;

  display: grid;
}

#abilityPanel.hide {
  transform: translate3d(-100vw, 0, 0);
}

#abilityPanel.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.closePanelButton {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 60px;
  background-color: #1a227e00;
  border: none;
  color: rgba(255, 255, 255, 0.438);
  padding: 10px 20px;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
}

.closePanelButton:hover {
  color: rgba(255, 255, 255, 0.767);
  cursor: pointer;
}

.closePanelButton:focus {
  background-color: rgba(255, 255, 255, 0);
}

#abilities {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

#abilityButtons {
  border-right: 2px solid white;
}

#abilities_weapon,
#abilities_utility {
  margin: 2%;
  overflow-y: scroll;
  max-height: 98%;
}

.abilityPanel {
  width: 100%;
  min-height: 50px;
  color: black;
  border: 1px solid white;
  background-color: rgb(81, 102, 194);
}

.abilityPanel:hover {
  cursor: pointer;
  background-color: rgb(93, 111, 192);
}

.abilityType {
  font-family: "Fredoka One", cursive;
}

.focusedButton {
  font-family: "Patua One", cursive;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: rgba(165, 162, 0, 0.514);
  cursor: pointer;
}

.focusedButton:hover {
  background-color: rgba(165, 162, 0, 0.658);
}

.weaponButtonText:hover {
  background-color: rgba(165, 162, 0, 0.514);
}

.weaponButtonText {
  font-family: "Patua One", cursive;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: rgb(165, 162, 0);
  cursor: pointer;
}
