#inventoryPanel {
  width: 600px;
  min-height: 600px;
  color: white;
  border: 1px solid white;
  position: fixed;
  background-color: #0b0a46;
}

.closePanelButton {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 60px;
  background-color: #1a227e00;
  border: none;
  color: rgba(255, 255, 255, 0.438);
  padding: 10px 20px;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
}

#inventoryHeader {
  border-bottom: 1px solid white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

#inventoryItems {
  overflow-y: scroll;
  max-height: 500px;
}

.inventoryItem {
  font-size: 12px;
  margin-left: 25px;
  margin-right: 25px;
  border-top: 1px dotted white;
}
