#inventoryPanel {
  width: 600px;
  min-height: 600px;
  color: black;
  border: 1px solid white;
  position: fixed;
  background-color: rgb(81, 102, 194);
}

.closePanelButton {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 60px;
  background-color: #1a227e00;
  border: none;
  color: rgba(255, 255, 255, 0.438);
  padding: 10px 20px;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
}
